@charset "utf-8";
:root {
 	--main-color: #00cccc;
/* 	main-color: Tomato; */
}

nav {
	max-width: 1000px;
	margin: 0 auto;
	overflow: hiden;
	/*background-color: Tomato;*/
	background-color: var(--main-color);
	padding-top: 10px;
	padding-bottom: 10px;
}

nav a {
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	font-weight: bold;
}

nav .home {
	font-family: 'Lobster';
	font-size: 1.5em;
	font-weight: bold;
}



div.topics {
	padding-top: 16px;
	max-width: 1000px;
	margin: 0 auto;
}

table {
	/*border-collapse:collapse;*/
	border:1px solid var(--main-color);
}

table th {
	border:1px solid var(--main-color);
	text-align: center;

}

table td {
	border:1px solid var(--main-color);
	text-align: center;

}

td.rank {
	font-weight: bold;
	font-size: 2em;
}

td.duration {
	font-weight: bold;
	font-size: 1.5em;
}

h1 {
	/*color: Tomato;*/
	color: var(--main-color);
}


